name: Deploy

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
      - 'v*-pre.*'
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  check:
    uses: ./.github/workflows/check.yml

  test:
    uses: ./.github/workflows/test.yml
    needs: check

  build-doc:
    name: Build documentation
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rust-src

      - name: Build docs
        run: cargo doc -Zbuild-std=core,alloc --no-deps --target aarch64-unknown-none --features pio

      - name: Create index redirect
        run: |
          printf '<meta http-equiv="refresh" content="0;url=sdmmc/index.html">' > target/aarch64-unknown-none/doc/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/aarch64-unknown-none/doc

  deploy-doc:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-doc
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
