name: Test

on:
  workflow_call:

jobs:
  build-test:
    name: Build Test Binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rust-src
          targets: aarch64-unknown-none

      - name: Build test binary (pio feature)
        run: cargo build -Zbuild-std=core,alloc --release --target aarch64-unknown-none --test test --features pio

  check-test:
    name: Check Test Compilation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rust-src
          targets: aarch64-unknown-none

      - name: Check test compilation (pio feature)
        run: cargo test -Zbuild-std=core,alloc --target aarch64-unknown-none --test test --no-run --features pio
